<index:>
    <div class="pure-g">
        <div class="l-box pure-u-1">
            <h1>Hi!</h1>
            <p>
                Congrats, your Kantele app is up and running!
            </p>
            <p>
                {{if _page.items}}
                    <a href="/edit" class="pure-button">add a new item</a>
                {{else}}
            	   Start by <a href="/edit" class="pure-button">adding a new item</a>
                {{/}}
            </p>
            <ul>
                {{each _page.items as #item}}
                    <item />
                {{/}}
            </ul>
        </div>
    </div>

<item: tag="item">
    <li>
        <h3><a href="/edit/{{#item.id}}">{{#item.name}}</a></h3>
        <p>{{#item.data}}</p>
    </li>
