<import: src="./home">
<import: src="./about">
<import: src="../error">

<Title:>
	Kantele app

<Head:>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="icon" type="image/png" href="/img/favicon.png">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<Body:>
	<view name="k-connection-alert"></view>
	<view name="k-before-unload"></view>
	<div class="header">
	    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
	        <a class="pure-menu-heading" href="/">Your Site</a>

	        <ul class="pure-menu-list">
	            <li class="pure-menu-item pure-menu-selected"><a href="/" class="pure-menu-link">Home</a></li>
	            <li class="pure-menu-item"><a href="about" class="pure-menu-link">About</a></li>
	            <li class="pure-menu-item"><a href="/" class="pure-menu-link">Sign Up</a></li>
	        </ul>
	    </div>
	</div>

	<view name="{{$render.ns}}"></view>

